<div>
  <%= f.label :schedule_id, 'スケジュール' %>
  <%= f.collection_select :schedule_id, Schedule.all, :id, 
    lambda { |schedule| "#{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}" }, 
    prompt: '選択してください' %>
</div>
<div>
  <%= f.label :sheet_id, '座席' %>
  <%= f.collection_select :sheet_id, Sheet.all, :id, :name, prompt: '選択してください' %>
</div>
<div>
  <%= f.label :date, '日時' %>
  <%= f.date_field :date %>
</div>
<div>
  <%= f.label :user_id, 'ユーザー' %>
  <%= f.collection_select :user_id, User.all, :id, :name, prompt: 'ユーザーを選択してください' %>
</div>
