<h1>予約編集</h1>

<%= form_with model: @reservation, url: admin_reservation_path(@reservation), method: :put do |f| %>
  <div>
    <%= f.label :user_id, 'ユーザー' %>
    <%= f.collection_select :user_id, User.all, :id, :name, prompt: 'ユーザーを選択してください' %>
  </div>
  <div>
    <%= f.label :schedule_id, 'スケジュール' %>
    <%= f.collection_select :schedule_id, Schedule.all, :id, :name, prompt: '選択してください', selected: @reservation.schedule_id %>
  </div>
  <div>
    <%= f.label :sheet_id, '座席' %>
    <%= f.collection_select :sheet_id, Sheet.all, :id, :name, prompt: '選択してください', selected: @reservation.sheet_id %>
  </div>
  <div>
    <%= f.submit '更新する' %>
  </div>
<% end %>

<%= link_to '予約一覧に戻る', admin_reservations_path %>
<%= link_to '削除', admin_reservation_path(@reservation), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
